.cart {
    padding: 20px 80px 20px 80px;
}


.ci3, .crt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ci1 , .ci2 {
    display: flex;
    flex-direction: column;
}

.ci1 h1, .ci2 h1, .tr2 {
    font-family: Stuart,Georgia,serif!important;
    font-weight: 500!important;
    text-transform: none!important;
    font-stretch: normal!important;
    font-size: 28.43px;
    line-height: 1.333;
}

.ci1 h2, .ci2 h2 {
    color: #666;
    font-size: 1.4rem;
    margin: 0 0 12px;
    font-family: Graphik,Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

.checkout-screen, .payment-screen {
    display: flex;
    justify-content: center;
}

.address-form, .payment-form {

    width: 60%;
    color: #2e2e2e;
    background-color: #fff;
    outline: 0;
    font-size: 16px;
    font-style: normal;
    line-height: 16px;
    margin-top: 20px;
  
}

.next {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.next h1 {
    font-family: Graphik, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #222;
    margin-bottom: 20px;
    font-weight: 300;
}

.error {
    color: #DE5A5A;
    font-weight: 400;
    
}