.cart-item {
    display: flex;
    flex-direction: row;
    transition: all .7s ease-in-out;
    max-height: 800px;
    opacity: 1;
    border: 1px solid #e5e5e5;
    border-radius: .3rem;
    box-shadow: 0 2px 3px 1px rgba(102,102,102,.1);
    margin: 1.6rem 0 0 0;
    visibility: visible;
}

.cart-image {
    width: 20vw;
    height: 20vh;
    padding: 1.6rem 0 1.6rem 1.6rem;
    display: block;
}

.cart-image img {
    height: 100%;
    width: 100%;
}

.cart-info {
    /* display: flex;
    flex-direction: column; */
    align-items: stretch;
    display: inline-block;
    height: 100%;
    overflow-wrap: break-word;
    padding: 1.6rem 0;
    margin-left: 10px;
}

.cart-info a:hover {
    text-decoration: underline;
}

.cart-info h1 {
    font-family: Graphik,Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    color: #222;
}

.cart-info h2 {
    font-family: Graphik,Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #222;
    line-height: 1.5;
    font-size: 16px;
}

.cart-info h1:hover {
    text-decoration: underline;
}

.remove-item {
    
    font-family: Roboto,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 14px;
    padding: 8px 16px;
    color: #2e2e2e;
    background-color: #fff;
    border-color: #c5c5c5;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    outline: 0;
    cursor: pointer;
}

 .cart-details {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     width: 50vw;
     align-items: center;
 }

.cart-details h5 {
    
    min-width: 2vw;
    text-align: center;
    padding: .5rem;
    color: #2e2e2e;
    line-height: 1;
    font-family: Roboto,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: normal;
    margin-left: 5px;
    margin-right: 5px;
}

.total-table {
    display: block;
    margin-top: 10px;
    /* flex-direction: column; */
    float: right;
}

.tr1 {
    color: #2e2e2e;
    font-size: 16px;
    font-style: normal;
    line-height: 16px;
    margin-top: 14px;
}

.total-table table {

  border-spacing: 25px 10px;
  
}