.sp {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.spd {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}


.single-product-details {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    justify-content: center;
}

.single-product-details img {
    width: 30%;
    height: 30%;
    margin-right: 20px;
    margin-top: 5px;
}

.single-product-details h1 {
    margin-bottom: 5px;
    margin-top: 5px;
}

.spd h1 {
    font-family: Stuart, Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3;
    color: #292929;
    font-size: 2.8rem;
}

.spd h2 {
    font-family: Stuart, Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4;
    color: #292929;
    font-size: 2.0rem;
    margin-bottom: 10px;
}

.spd h1:hover, .spd h2:hover {
    text-decoration: none;
    cursor: auto;
}

.size, .color {
    display: flex;
    flex-direction: row;
}

.size button, .color button {
    margin: 10px 10px 10px 0;
    border: 1px solid rgb(209, 209, 209);
    font-family: graphik;
    font-size: 14px;
    white-space: nowrap;
    height: 6vh;
    width: 8vw;
    text-align: center;
    color: gray;
}

.red {
    background-color: darkred;
}

.blue {
    background-color: darkblue;
}

.black {
    background-color: black;
}

.average-rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 auto;
}

.ar {
    
    display: flex;
    flex-direction: column;
    background-image: url(https://satchel.rei.com/media/img/footer/trees_left.svg);
    background-size: 14% 90%;
    
}

.ar p {
    margin-bottom: 20px;
}

.ard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.starts-info {
    display: flex;
    flex-direction: row;
}