.review {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: "Roboto","Helvetica Neue","Helvetica","Arial",sans-serif;
    border-bottom: 1px solid #ccc;
    width: 85%;
}


.review p {
    color: #292929;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    line-height: 26px;
    margin-bottom: 15px;
    margin-top: 5px;
}

.review-info {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
    align-items: center;
    margin-bottom: 10px;
}

.review h3, .delete-review {
    color: rgb(41, 41, 41);
    font-size: 14px;
    font-weight: 400;
}

.delete-review:hover  {
    color: yellowgreen;
}

.rf {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid #ddd; */
    width: 50%;
    height: 40vh;

}

.post-review {
    color: #fff;
    background-color: #426c90;
    border-color: #426c90;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    outline: 0;
    font-size: 16px;
    font-style: normal;
    line-height: 16px;
    padding: 16px 32px;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    vertical-align: middle;
    user-select: none;
    white-space: nowrap;
    height: 10%;
    width: 10%;
}

input[type=text] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin: 10px;
  font-size: 14px;
  font-weight: 400;
}

label {
    font-weight: 700;
    font-size: 1.2rem;
    font-family: Graphik,Roboto,Helvetica,Arial,sans-serif;
    line-height: 1.333;
    margin-left: 10px;
}