.review {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: "Roboto","Helvetica Neue","Helvetica","Arial",sans-serif;
    border-bottom: 1px solid #ccc;
}


.review p {
    color: #292929;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    line-height: 26px;
    margin-bottom: 15px;
    margin-top: 5px;
}

.review-info {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    margin-bottom: 10px;
}

.review h3, .delete-review {
    color: rgb(41, 41, 41);
    font-size: 14px;
    font-weight: 400;
}

.delete-review:hover  {
    color: yellowgreen;
}

