.signup-form-container, .login-form-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 50%;
    font-family: Roboto,'Helvetica Neue',Helvetica,Arial,sans-serif;
    margin-left: 20px;
}

.signup-form-container h1 {
    font-size: 38px;
    line-height: 1.333;
    margin-bottom: 10px;
}

.signup-form-container h2 {
    font-size: 16px;
    line-height: 1.5;
    color: #222;
    margin-top: 10px;
    margin-bottom: 10px;
}

.signup-input-1, .login-input {

    background-color: #fff;
    background-image: none;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    color: #2e2e2e;
    display: block;
    width: 100%;
    min-height: 3vh;
    font-size: 16px;
    font-style: normal;
    padding: 12px 8px;
    line-height: 1;
    margin-top: 4px;
}

.signup-submit, .login-submit, {
    color: #fff;
    background-color: #426c90;
    border-color: #426c90;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    outline: 0;
    font-size: 16px;
    font-style: normal;
    line-height: 16px;
    padding: 16px 32px;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    vertical-align: middle;
    user-select: none;
    white-space: nowrap;
}

.create-account {
    color: #2e2e2e;
    background-color: #fff;
    border-color: #c5c5c5;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    outline: 0;
    font-size: 16px;
    font-style: normal;
    line-height: 16px;
    padding: 16px 32px;
    border: 1px solid #c5c5c5;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    vertical-align: middle;
    user-select: none;
    white-space: nowrap;
    margin-top: 14px;
}